<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="Td0Ii98OGBajX6TpOxLK3SZcuMJl7fbArJsdYBMk">
    <title>Bio-Science</title>
    <script src="/js/app.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=PT+Sans+Narrow&family=Roboto:wght@100;300;600;900&display=swap" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link rel="preload" href="/img/Logo_Undana.png" as="image">
</head>
<body>
    <div id="app">
        <nav class="px-0 lg:px-3 py-3 bg-gray-100 lg:bg-gray-50  flex justify-center sticky top-0 z-10 bg-opacity-90 backdrop-blur-md">
            <div class="text-white max-w-screen-lg w-full">
                <div class="flex flex-col lg:flex-row justify-between">
                    <div class="px-3 lg:px-0">
                        <div class="flex justify-between lg:justify-start">
                            <div>
                                <div class="flex">
                                    <div class="pr-3">
                                        <div class="flex flex-col justify-center items-center h-full w-12 max-h-11">
                                            <transition name="fly-down" tag="div" mode="out-in">
                                                <img src="/img/Logo_Undana.png" alt="" class="h-10 w-10 drop-shadow-xl" :key="0" v-if="navbar.logo.animation == 0">
                                                <box-icon type='solid' name='bong' size="lg" class="fill-gray-900" :key="1" v-else></box-icon>
                                            </transition>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-600">
                                            Laboratorium
                                        </div>
                                        <div class="text-lg font-bold h-font drop-shadow-lg text-gray-900 -mt-1">
                                            Bio-Science
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow px-2 md:px-5 block lg:hidden">
                                <div class="h-full flex flex-col justify-center">
                                    <div>
                                        <div class="flex">
                                            <div class="h-10 rounded-md flex-grow
                                                bg-slate-200
                                                hover:bg-slate-300 cursor-pointer
                                                transition-all
                                                text-gray-500
                                                ml-4"
                                                @click="search.searchbar = !search.searchbar">
                                                <div class="flex flex-nowrap justify-between h-full items-center">
                                                    <div class="px-3">
                                                        <div class="h-full">
                                                            <div class="truncate">
                                                                Temukan
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="px-4">
                                                        <div class="flex flex-col justify-center h-full items-center">
                                                            <box-icon name='search' class="fill-gray-400"></box-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="h-font font-bold h-10 w-10 rounded-md 
                                                hover:bg-slate-200 cursor-pointer items-center
                                                transition-all
                                                ml-4"
                                                @click="navbar.show = !navbar.show">
                                                <div class="flex flex-col justify-center h-full w-full items-center">
                                                    <transition mode="out-in" name="fly-down">
                                                        <box-icon name='menu' class="fill-gray-600" v-if="!navbar.show"></box-icon>
                                                        <box-icon name='x' class="fill-gray-600" v-else></box-icon>
                                                    </transition>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :class="[navbar.show ? 'block lg:block' : 'hidden lg:block']" class="overflow-y-auto lg:overflow-y-hidden flex-grow lg:flex-grow-0" style="max-height: calc(100vh - 64px)">
                        <div class="flex flex-col justify-center h-full">
                            <div class="px-6 lg:px-0">
                                <div class="flex flex-col lg:flex-row">
                                    <a href="/" class="n-font cursor-pointer text-lg letter-spacing-md px-3 py-2 text-yellow-600">
                                        Home
                                    </a>
                                    <div class="n-font text-lg text-gray-600 letter-spacing-md px-3 py-2 group relative">
                                        <div class="flex cursor-pointer">
                                            <div>
                                                Profil
                                            </div>
                                            <div class="pl-2">
                                                <box-icon name='expand-vertical' size="xs" class="hidden lg:block"></box-icon>
                                            </div>
                                        </div>
                                        <div class="lg:absolute lg:pt-6 lg:invisible lg:group-hover:visible lg:w-80 lg:-translate-x-1/2 lg:left-1/2">
                                            <ul class="lg:bg-white p-4 rounded-lg lg:shadow-lg w-full lg:max-w-xs lg:relative">
                                                <li class="py-2 lg:px-0">
                                                    <a href="/mengenai-kami">
                                                        Mengenai Kami <span>
                                                            <box-icon type='solid' name='badge-check' class="fill-teal-300" size="xs"></box-icon>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="py-2 lg:px-0">
                                                    <a href="/mengenai-kami">
                                                        Visi & Misi <span>
                                                            <box-icon type='solid' name='badge-check' class="fill-teal-300" size="xs"></box-icon>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="py-2 lg:px-0">
                                                    <a href="#staff">
                                                        Staff
                                                    </a>
                                                </li>
                                                <li class="text-gray-300 py-2 lg:px-0">
                                                    Menu lainnya
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="n-font text-lg text-gray-600 letter-spacing-md px-3 py-2 group relative">
                                        <div class="flex cursor-pointer ">
                                            <div>
                                                Layanan
                                            </div>
                                            <div class="pl-2">
                                                <box-icon name='expand-vertical' size="xs" class="hidden lg:block"></box-icon>
                                            </div>
                                        </div>
                                        <div class="lg:absolute lg:pt-6 lg:invisible lg:group-hover:visible lg:w-80 lg:-translate-x-1/2 lg:left-1/2">
                                            <ul class="lg:bg-white p-4 rounded-lg lg:shadow-lg w-full lg:max-w-xs lg:relative">
                                                <li>
                                                    SI Kunjungan
                                                </li>
                                                <li class="py-2 lg:px-0">
                                                    <a href="/laboratorium">
                                                        Laboratorium <span>
                                                            <box-icon type='solid' name='badge-check' class="fill-teal-300" size="xs"></box-icon>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    Peralatan Laboratorium
                                                </li>
                                                <li>
                                                    Ruangan Laboratorium
                                                </li>
                                                <li>
                                                    SI Penggunaan Laboratorium
                                                </li>
                                                <li>
                                                    SI Inventory
                                                </li>
                                                <li>
                                                    Si Tata Letak Laboratorium
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="n-font cursor-pointer text-lg text-gray-600 letter-spacing-md px-3 py-2">
                                        Berita
                                    </div>
                                    <div class="n-font cursor-pointer text-lg text-gray-600 letter-spacing-md px-3 py-2">
                                        Portfolio
                                    </div>
                                    <div class="n-font cursor-pointer text-lg text-gray-600 letter-spacing-md px-3 py-2">
                                        Kontak
                                    </div>
                                    <div class="h-font font-bold h-10 w-10 rounded-md 
                                        hover:bg-slate-200 cursor-pointer items-center
                                        transition-all
                                        ml-8
                                        hidden lg:block"
                                        @click="search.searchbar = !search.searchbar">
                                        <div class="flex flex-col justify-center h-full w-full items-center">
                                            <box-icon name='search' class="fill-gray-600"></box-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <transition mode="out-in" name="fly-down">
            <div class="bg-opacity-50 bg-gray-900 fixed h-screen w-screen z-20 top-0 left-0 justify-center items-center max-h-screen p-5" 
                :class="[search.searchbar ? 'flex' : 'hidden']"
                :key="search.searchbar"
                @click.self="search.searchbar = !search.searchbar"
                v-cloak>
                <div class="max-w-lg p-3 w-full flex flex-col justify-start">
                    <div class="bg-white rounded-md shadow-xl p-2 w-full mb-4">
                        <div class="flex w-full flex-nowrap">
                            <input type="text" class="px-3 py-2 border-0 outline-none text-lg w-full flex-grow" placeholder="Temukan sesuatu...">
                            <button type="submit" class="h-12 w-12">
                                <div class="flex justify-center items-center fill-slate-500">
                                    <box-icon name='search'></box-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="max-h-80 h-80">
                        <div class="flex flex-col h-full justify-start max-h-80">
                            <div class="bg-white rounded-md shadow-xl w-full overflow-y-auto">
                                <div class="bg-white border-b p-5 text-gray-400" v-for="i in 3" :key="i">
                                    <div class="flex">
                                        <div class="flex-grow">
                                            <div class="flex">
                                                <div class="pr-4 fill-gray-300">
                                                    <box-icon type='solid' name='megaphone' size="sm"></box-icon>
                                                </div>
                                                <div class="text-gray-800 font-black">
                                                    Contoh hasil pencarian
                                                </div>
                                            </div>
                                            <div class="text-sm text-gray-400">
                                                Contoh hasil pencarian
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <div class="fill-gray-400 h-full flex flex-col justify-center items-center">
                                                <box-icon name='link-external'></box-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <main>
                <div class="flex flex-col justify-center items-center bg-gray-50">
        <div class="py-10 px-5 max-w-6xl w-full">
            <div class="flex flex-col items-center pt-10">
                <div class="fill-gray-400">
                    <div class="h-full flex flex-col justify-center pr-4">
                        <box-icon name='bong'></box-icon>
                    </div>
                </div>
                <div class="text-5xl font-bold h-font text-gray-600 flex mb-10">
                    <div>Laboratorium</div>
                </div>
                <div class="flex">
                    <div class="text-gray-500">
                        Home 
                    </div>
                    <div class="fill-gray-400">
                        <div class="h-full flex flex-col justify-center px-2 text-sm">
                            /
                        </div>
                    </div>
                    <div class="text-gray-500">
                        Laboratorium
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center bg-white flex-wrap relative shadow-xl shadow-gray-300">
        <div class="py-10 px-5 max-w-6xl w-full">
            <div class="text-xl text-gray-600 text-center">
                Riset Kolaborasi (Lantai 1)
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-10">
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-1.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-2.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-3.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-xl text-gray-600 text-center mt-10">
                Riset Kolaborasi (Lantai 2)
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-10">
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-4.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-5.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="max-height: 300px" class="flex-grow bg-gray-100 h-0 bg-cover w-full rounded-lg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-xl text-gray-600 text-center mt-10">
                Lab Kimia
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-10">
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-6.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-7.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-8.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-xl text-gray-600 text-center mt-10">
                Lab Genetik
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-10">
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-9.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="max-height: 300px" class="flex-grow bg-gray-100 h-0 bg-cover w-full rounded-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="max-height: 300px" class="flex-grow bg-gray-100 h-0 bg-cover w-full rounded-lg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-xl text-gray-600 text-center mt-10">
                Lab Radioaktif
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-10">
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-10.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="max-height: 300px" class="flex-grow bg-gray-100 h-0 bg-cover w-full rounded-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="max-height: 300px" class="flex-grow bg-gray-100 h-0 bg-cover w-full rounded-lg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-xl text-gray-600 text-center mt-10">
                Laboratorium (lantai 2)
            </div>
            <div class="flex flex-row flex-wrap items-center justify-center pt-10">
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-11.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-12.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-13.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-14.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-15.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 lg:w-3/12 p-4" style="height: 300px">
                    <div class="flex flex-col h-full">
                        <div style="background-image: url('/img/lab-16.jpg'); max-height: 300px" class="flex-grow h-0 bg-cover w-full rounded-lg shadow-lg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </main>
    </div>
</body>
</html>
