<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="Td0Ii98OGBajX6TpOxLK3SZcuMJl7fbArJsdYBMk">
    <title>Bio-Science</title>
    <script src="/js/app.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=PT+Sans+Narrow&family=Roboto:wght@100;300;600;900&display=swap" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    <link rel="preload" href="/img/Logo_Undana.png" as="image">
</head>
<body>
    <div id="app">
        <nav class="px-0 lg:px-3 py-3 bg-gray-100 lg:bg-gray-50  flex justify-center sticky top-0 z-10 bg-opacity-90 backdrop-blur-md">
            <div class="text-white max-w-screen-lg w-full">
                <div class="flex flex-col lg:flex-row justify-between">
                    <div class="px-3 lg:px-0">
                        <div class="flex justify-between lg:justify-start">
                            <div>
                                <div class="flex">
                                    <div class="pr-3">
                                        <div class="flex flex-col justify-center items-center h-full w-12 max-h-11">
                                            <transition name="fly-down" tag="div" mode="out-in">
                                                <img src="/img/Logo_Undana.png" alt="" class="h-10 w-10 drop-shadow-xl" :key="0" v-if="navbar.logo.animation == 0">
                                                <box-icon type='solid' name='bong' size="lg" class="fill-gray-900" :key="1" v-else></box-icon>
                                            </transition>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-600">
                                            Laboratorium
                                        </div>
                                        <div class="text-lg font-bold h-font drop-shadow-lg text-gray-900 -mt-1">
                                            Bio-Science
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-grow px-2 md:px-5 block lg:hidden">
                                <div class="h-full flex flex-col justify-center">
                                    <div>
                                        <div class="flex">
                                            <div class="h-10 rounded-md flex-grow
                                                bg-slate-200
                                                hover:bg-slate-300 cursor-pointer
                                                transition-all
                                                text-gray-500
                                                ml-4"
                                                @click="search.searchbar = !search.searchbar">
                                                <div class="flex flex-nowrap justify-between h-full items-center">
                                                    <div class="px-3">
                                                        <div class="h-full">
                                                            <div class="truncate">
                                                                Temukan
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="px-4">
                                                        <div class="flex flex-col justify-center h-full items-center">
                                                            <box-icon name='search' class="fill-gray-400"></box-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="h-font font-bold h-10 w-10 rounded-md 
                                                hover:bg-slate-200 cursor-pointer items-center
                                                transition-all
                                                ml-4"
                                                @click="navbar.show = !navbar.show">
                                                <div class="flex flex-col justify-center h-full w-full items-center">
                                                    <transition mode="out-in" name="fly-down">
                                                        <box-icon name='menu' class="fill-gray-600" v-if="!navbar.show"></box-icon>
                                                        <box-icon name='x' class="fill-gray-600" v-else></box-icon>
                                                    </transition>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div :class="[navbar.show ? 'block lg:block' : 'hidden lg:block']" class="overflow-y-auto lg:overflow-y-hidden flex-grow lg:flex-grow-0" style="max-height: calc(100vh - 64px)">
                        <div class="flex flex-col justify-center h-full">
                            <div class="px-6 lg:px-0">
                                <div class="flex flex-col lg:flex-row">
                                    <a href="/" class="n-font cursor-pointer text-lg letter-spacing-md px-3 py-2 text-yellow-600">
                                        Home
                                    </a>
                                    <div class="n-font text-lg text-gray-600 letter-spacing-md px-3 py-2 group relative">
                                        <div class="flex cursor-pointer">
                                            <div>
                                                Profil
                                            </div>
                                            <div class="pl-2">
                                                <box-icon name='expand-vertical' size="xs" class="hidden lg:block"></box-icon>
                                            </div>
                                        </div>
                                        <div class="lg:absolute lg:pt-6 lg:invisible lg:group-hover:visible lg:w-80 lg:-translate-x-1/2 lg:left-1/2">
                                            <ul class="lg:bg-white p-4 rounded-lg lg:shadow-lg w-full lg:max-w-xs lg:relative">
                                                <li class="py-2 lg:px-0">
                                                    <a href="/mengenai-kami">
                                                        Mengenai Kami <span>
                                                            <box-icon type='solid' name='badge-check' class="fill-teal-300" size="xs"></box-icon>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="py-2 lg:px-0">
                                                    <a href="/mengenai-kami">
                                                        Visi & Misi <span>
                                                            <box-icon type='solid' name='badge-check' class="fill-teal-300" size="xs"></box-icon>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="py-2 lg:px-0">
                                                    <a href="#staff">
                                                        Staff
                                                    </a>
                                                </li>
                                                <li class="text-gray-300 py-2 lg:px-0">
                                                    Menu lainnya
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="n-font text-lg text-gray-600 letter-spacing-md px-3 py-2 group relative">
                                        <div class="flex cursor-pointer ">
                                            <div>
                                                Layanan
                                            </div>
                                            <div class="pl-2">
                                                <box-icon name='expand-vertical' size="xs" class="hidden lg:block"></box-icon>
                                            </div>
                                        </div>
                                        <div class="lg:absolute lg:pt-6 lg:invisible lg:group-hover:visible lg:w-80 lg:-translate-x-1/2 lg:left-1/2">
                                            <ul class="lg:bg-white p-4 rounded-lg lg:shadow-lg w-full lg:max-w-xs lg:relative">
                                                <li>
                                                    SI Kunjungan
                                                </li>
                                                <li class="py-2 lg:px-0">
                                                    <a href="/laboratorium">
                                                        Laboratorium <span>
                                                            <box-icon type='solid' name='badge-check' class="fill-teal-300" size="xs"></box-icon>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    Peralatan Laboratorium
                                                </li>
                                                <li>
                                                    Ruangan Laboratorium
                                                </li>
                                                <li>
                                                    SI Penggunaan Laboratorium
                                                </li>
                                                <li>
                                                    SI Inventory
                                                </li>
                                                <li>
                                                    Si Tata Letak Laboratorium
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="n-font cursor-pointer text-lg text-gray-600 letter-spacing-md px-3 py-2">
                                        Berita
                                    </div>
                                    <div class="n-font cursor-pointer text-lg text-gray-600 letter-spacing-md px-3 py-2">
                                        Portfolio
                                    </div>
                                    <div class="n-font cursor-pointer text-lg text-gray-600 letter-spacing-md px-3 py-2">
                                        Kontak
                                    </div>
                                    <div class="h-font font-bold h-10 w-10 rounded-md 
                                        hover:bg-slate-200 cursor-pointer items-center
                                        transition-all
                                        ml-8
                                        hidden lg:block"
                                        @click="search.searchbar = !search.searchbar">
                                        <div class="flex flex-col justify-center h-full w-full items-center">
                                            <box-icon name='search' class="fill-gray-600"></box-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <transition mode="out-in" name="fly-down">
            <div class="bg-opacity-50 bg-gray-900 fixed h-screen w-screen z-20 top-0 left-0 justify-center items-center max-h-screen p-5" 
                :class="[search.searchbar ? 'flex' : 'hidden']"
                :key="search.searchbar"
                @click.self="search.searchbar = !search.searchbar"
                v-cloak>
                <div class="max-w-lg p-3 w-full flex flex-col justify-start">
                    <div class="bg-white rounded-md shadow-xl p-2 w-full mb-4">
                        <div class="flex w-full flex-nowrap">
                            <input type="text" class="px-3 py-2 border-0 outline-none text-lg w-full flex-grow" placeholder="Temukan sesuatu...">
                            <button type="submit" class="h-12 w-12">
                                <div class="flex justify-center items-center fill-slate-500">
                                    <box-icon name='search'></box-icon>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="max-h-80 h-80">
                        <div class="flex flex-col h-full justify-start max-h-80">
                            <div class="bg-white rounded-md shadow-xl w-full overflow-y-auto">
                                <div class="bg-white border-b p-5 text-gray-400" v-for="i in 3" :key="i">
                                    <div class="flex">
                                        <div class="flex-grow">
                                            <div class="flex">
                                                <div class="pr-4 fill-gray-300">
                                                    <box-icon type='solid' name='megaphone' size="sm"></box-icon>
                                                </div>
                                                <div class="text-gray-800 font-black">
                                                    Contoh hasil pencarian
                                                </div>
                                            </div>
                                            <div class="text-sm text-gray-400">
                                                Contoh hasil pencarian
                                            </div>
                                        </div>
                                        <div class="pl-4">
                                            <div class="fill-gray-400 h-full flex flex-col justify-center items-center">
                                                <box-icon name='link-external'></box-icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <main>
                <div class="flex md:flex-row-reverse justify-start bg-gray-50 flex-wrap relative shadow-xl shadow-gray-300" style="min-height: calc(100vh - 68px)">
        <div class="lg:w-3/12 md:w-6/12 w-full lg:block hidden">
            <div class="flex flex-col items-center h-full">
                
            </div>
        </div>
        <div class="lg:w-4/12 md:w-6/12 w-full relative">
            <div class="flex flex-col items-center h-full">
                <div class="p-4 py-10 max-w-md h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex-grow rounded-xl bg-cover bg-no-repeat" style="min-height: 150px; max-height: 300px; background-image: url('/img/bg.jpg')">
                            <div class="h-full w-full" style="background-image: linear-gradient(10deg, rgb(249 250 251) 20%, rgba(249 250 251 / .5) 110%);">

                            </div>
                        </div>
                        <div class="font-bold text-2xl text-gray-700 mb-6 n-font -mt-8">
                            Mengenai Kami
                        </div>
                        <div class="text-gray-600">
                            <ol class="list-disc text-sm pl-4">
                                <li>Dirancang menjadi Laboratorium Riset.</li>
                                <li>Dibangun untuk peningkatkan profil riset Undana. Penyedia peneliti-peneliti yang kompeten dan INVENTION.</li>
                                <li>Fasilitas:   8 laboratorium, 1 ruangan seminar, 4 ruangan kelas, 4 ruangan staf, 2 ruangan istirahat, 1 ruangan hall, 2 ruangan administratif, 1 ruangan server dan 2 meja informasi.</li>
                                <li>Didukung oleh penghasil nitrogen cair, AAS, bomb calorimeter, genetic separator, fuel cell kits, Spektroskopi UV-VIS, HPLC, peralatan radioaktif, evaporator, alat fortable untuk analisis lingkungan (analisis udara, kebisingan dan air) serta peralatan lainnya sebagai pendukung untuk pelaksanaan riset  lainnya.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lg:w-4/12 md:w-6/12 w-full bg-gray-50 relative">
            <div class="flex flex-col justify-end h-full items-center">
                <div class="p-4 py-10 max-w-sm">
                    <div class="font-extrabold text-2xl md:text-7xl text-gray-700 max-w-xs n-font">
                        Visi & Misi Kami
                    </div>
                    <div class="w-full border-b border-gray-200 my-5"></div>
                    <div class="mb-4">
                        <div class="mb-2 text-gray-400">
                            Visi
                        </div>
                        <div class="text-gray-600 text-sm">
                            "Menjadi Laboratorium yang Intensif melakukan Riset"
                        </div>
                    </div>
                    <div class="text-gray-600">
                        <div class="mb-2 text-gray-400">
                            Misi
                        </div>
                        <ol class="list-decimal text-sm pl-4">
                            <li>Menciptakan budaya meneliti.</li>
                            <li>Menyediakan laboratorium yang kompeten dengan standar dan kualitas yang tinggi.</li>
                            <li>Menyiapkan peneliti-peneliti yang handal.</li>
                            <li>Menjadi gudang untuk menghasilkan penemuan , pengetahuan dan inovasi baru.</li>
                            <li>Menyiapkan berbagai riset kolaborasi.</li>
                            <li>Menghasilkan publikasi dan buku yang berbasis penelitian.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </main>
    </div>
</body>
</html>
